
<script src="//res.iqianjin.com/mstatic/js/seajs/2.2.1/sea.js"></script>
<script src="//res.iqianjin.com/mstatic/js/config.js"></script>

<script>
    document.domain='iqianjin.com';
</script>
<!-- PHPStat Start -->
<script language="JavaScript" id="phpstat_js_id_10000001">
    var _trackData = _trackData || [];
    (function() {
        var phpstat_js = document.createElement('script'); phpstat_js.type = 'text/javascript';
        phpstat_js.charset = 'utf-8'; phpstat_js.id = 'phpstat_async_js_id_10000001'; phpstat_js.async = true;
        phpstat_js.src = '//stat.iqianjin.com/phpstat/count/10000001/10000001.js';
        var phpstat_cjs = document.getElementsByTagName('script')[0]; phpstat_cjs.parentNode.insertBefore(phpstat_js, phpstat_cjs);
    })();
</script>
<!--/PHPStat End -->
<!--/growingIo Start -->
<script type='text/javascript'>
    var _vds = _vds || [];
    window._vds = _vds;
    (function(){
        _vds.push(['setAccountId', '9f51eb8b7c74e856']);

        (function(){var a,b="";0<document.cookie.length&&(a=document.cookie.indexOf("lp="),-1!=a&&(a+=3,b=document.cookie.indexOf(";",a),-1==b&&(b=document.cookie.length),b=decodeURIComponent(document.cookie.substring(a,b))));a=b;b=a.length;b=a.substring(b,b-7);
            a=a.split(b);
            "undefined"!==typeof a[1]&&_vds.push(["setCS1","user_id",a[1]+""]);
            "undefined"!==typeof a[3]&&_vds.push(["setCS2","create_month",a[3]+""]); //注册年月
            "undefined"!==typeof a[6]&&_vds.push(["setCS3","invest_status",a[6]+""]);//是否为投资用户
            "undefined"!==typeof a[4]&&_vds.push(["setCS4","KOL_invest",a[4]+""]);//是否邀请过好友
            "undefined"!==typeof a[5]&&_vds.push(["setCS5","member_level",a[5]+""]); //会员等级
        })();

        (function() {
            var vds = document.createElement('script');
            vds.type='text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
        })();
    })();
</script>
<!--/growingIo End -->